/*
 * App CUSTOM theme SCSS
 * ----------------------------------------------------------------------------
 * Place here custom styles.
 */

/*
 * Light Theme
 * -------------------------------------------
 */
html {
  --brand-color: #{$brand-color};

  --core-header-toolbar-background: var(--brand-color);
  --core-header-toolbar-color: var(--white);
}

/*
 * Dark Theme
 * -------------------------------------------
 */
html.dark {
  --brand-color: #{$brand-color};

  --core-header-toolbar-background: var(--brand-color);
  --core-header-toolbar-color: var(--white);
}
